* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.app {
    text-align: center;
    width: 400px;
    height: 500px;
    border: 1px solid black;
    border-radius: 5px;
}

.bot-page-message--container {
    display: flex;
    flex-direction: column;
}

.bot-page-question{
    background-color: gainsboro;
}

.bot-page-question--active{
    background-color: greenyellow;
}