@font-face {
    font-family: "Poppins";
    src: url("../public/fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: "Poppins-medium";
    src: url("../public/fonts/Poppins-Medium.ttf");
}

@font-face {
    font-family: "Poppins-bold";
    src: url("../public/fonts/Poppins-Bold.ttf");
}

@font-face {
    font-family: "Poppins-italic";
    src: url("../public/fonts/Poppins-Italic.ttf");
}


*, body {
    font-family: "Poppins";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #007FFF;
    --secondary-color: #fff;
    --accent-color: #2994FF;
    --h1-font-size: 3.052rem;
    --h2-font-size: 2.441rem;
    --h3-font-size: 1.953rem;
    --h4-font-size: 1.563rem;
    --h5-font-size: 1.25rem;
    --h6-font-size: 1rem;
    --paragraph-font-size: 1rem;
    --h1-font-size-small: 4.209rem;
    --h2-font-size-small: 3.157rem;
    --h3-font-size-small: 2.369rem;
    --h4-font-size-small: 1.777rem;
    --h5-font-size-small: 1.333rem;
}

.not-found-page--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 10%;
}

.not-found-page--back-text{
    color: var(--accent-color);
    font-size: var(--h5-font-size-small);
    margin-top: 48px;
}

.not-found-page--heading {
    color: var(--primary-color);
    font-size: var(--h3-font-size-small);
    text-align: center;
}

.request-error--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 72px;
    text-align: center;
}

.request-error--message {
    color: #E34234;
    font-size: var(--h3-font-size-small);
    font-style: normal;
}

.request-error-contact {
    color: var(--accent-color);
    font-size: var(--h5-font-size-small);
    font-style: normal;
    text-decoration: none;
    margin-top: 48px;
    font-weight: normal;
}

.messages-templates-container--hide {
    display: flex;
    flex-direction: column;
    padding: 2em;
    position: fixed;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s;
    opacity: 0;
    background-color: var(--primary-color);
    border-radius: 10px;
}

.messages-templates-container--show {
    display: flex;
    flex-direction: column;
    padding: 2em;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40%;
    transition: 0.3s;
    opacity: 1;
    background-color: var(--primary-color);
    border-radius: 10px;
}

.messages-templates--message {
    font-size: var(--h5-font-size-small);
    color: var(--secondary-color);
    cursor: pointer;
}

@media screen and (max-width: 422px) {
    
    .messages-templates--message {
        font-size: var(--h6-font-size);    
    }

    .messages-templates-container--show, .messages-templates-container--hide  {
        padding: 1em;
    }
}

.messages-templates--message:first-child {
    margin-bottom: 1em;
}

.bot-page-container--hide {
    width: 100%;
    height: 100%;
    position: fixed;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(100%);
    background-color: var(--secondary-color);
}

.bot-page-container--show {
    width: 100%;
    height: 100%;
    position: fixed;
    transition: 0.5s;
    opacity: 1;
    transform: translateY(0%);
    background-color: var(--secondary-color);
}

.navbar--container {
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto auto;
    background-color: var(--primary-color);
}

.navbar--heading {
    justify-self: center;
    align-self: center;
    display: flex;
    align-items: center;
    grid-row: 1/3;
    grid-column: 2;
}

.navbar-heading--column {
    flex-direction: column;
    justify-self: center;
    align-self: center;
    display: flex;
    justify-content: center;
    display: flex;
    align-items: center;
    grid-row: 1/3;
    grid-column: 2;
}

.navbar-bot--icon {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    margin-right: 1em;
}

.navbar--button-down {
    width: 40px;
    height: 40px;
    justify-self: flex-end;
    grid-row: 1;
    grid-column: 3;
    margin-right: 1em;
    margin-top: 1em;
}

.navbar--button-resize {
    width: 40px;
    height: 40px;
    justify-self: flex-start;
    grid-row: 1;
    grid-column: 1;
    margin-left: 1em;
    margin-top: 1em;
}

.navbar--description {
    color: var(--secondary-color);
    font-size: var(--paragraph-font-size);
    font-style: normal;
    font-weight: 400;
    margin-top: 0.75em;
    text-align: center;
}

.navbar--title {
    color: var(--secondary-color);
    font-family: "Poppins-medium";
    text-align: center;
    font-size: var(--h5-font-size-small);
    font-weight: 500;
}

.right {
    margin-right: 1em;
}

.left {
    margin-left: 1em;
}

.bot-icon--question, .bot-icon--answer {
    width: 54px;
    height: 54px;
    border-radius: 50%;
}

.bot-questions--container {
    display: flex;
    animation: show ease-in-out 0.3s 1;
    transform-origin: left top;
}

.bot-question-options--container {
   display: flex;
   flex-direction: column;
}

.bot-conversations--container {
    height: 75vh;
    display: flex;
    flex-direction: column;
    margin: 0 2em 0 2em;
    padding-right: 2em;
    padding-top: 2em;
    overflow-y: scroll;
}

.bot-conversations--container::-webkit-scrollbar {
    width: 16px;
}

.bot-conversations--container::-webkit-scrollbar-track {
    background: none;
}

.bot-conversations--container::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 12px;
}

.bot--question, .bot--answer, .chat--text {
    color: var(--secondary-color);
    font-size: var(--h6-font-size);
    border: 0;
    border-radius: 12px;
    padding: 0.5em 1em 0.5em 1em;
    text-decoration: none;
    text-align: center;
    word-wrap: break-word;
}

.m-16 {
    margin-bottom: 1em;
}

.m-48 {
    margin-bottom: 3em;
}

.active {
    background-color: var(--primary-color);
}

.accent  {
    background-color: var(--accent-color);
}

.primary {
    background-color: var(--primary-color);
}

.bot-answers--container, .bot-end-message--container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 3em;
}

.bot--answer {
    max-width: 60%;
}

.bot-answers--container {
    animation: show ease-in-out 0.3s 1;
    transform-origin: right;
}

.bot-end-message--container {
    animation: show ease-in-out 0.3s 1;
    transform-origin: right;
}

.bot-another-option--container {
    display: grid;
    grid-template-columns: calc(54px + 16px) minmax(auto, 60%);
    grid-template-rows: auto auto;
    margin-top: 3em;
    align-items: center;
    animation: show ease-in-out 0.3s 1;
    transform-origin: left;
}

.bot-option--answer {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    font-size: var(--h6-font-size);
    border: 1px solid var(--primary-color);
    border-radius: 12px;
    padding: 0.25em 1.5em 0.25em 1.5em;
    text-decoration: none;
    text-align: center;
    animation: show ease-in-out 0.3s 1;
    transform-origin: right;
}

.option-icon {
    grid-column: 1;
    grid-row: 1;
}

.option-yes {
    margin-right: 2em;
}

.active-option {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 0;
}

.options {
    grid-column: 2;
    grid-row: 2;
    align-self: center;
    justify-self: center;
    margin-top: 1em;
}

@media screen and (max-width: 422px) {
    
    .bot-another-option--container {
        grid-template-columns: calc(54px + 16px) auto;
    }

    .options {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        width: 60%;
    }

    .option-yes {
        margin-right: 0em;
        margin-bottom: 1em;
    }
}

.loader {
    display: flex;
    align-items: center;
    animation-name: show, hide;
    animation-iteration-count: 1, 1;
    animation-duration: 0.3s, 0.3s;
    animation-delay: 0s, 2.4s;
    animation-fill-mode: none, forwards;
}

.loader-left {
    transform-origin: left;
    justify-content: start;
}

.loader-right {
    transform-origin: right;
    justify-content: end;
}

.loader-icon--left {
    order: 0;
    margin-right: 1em;
}

.loader-icon--right {
    order: 1;
    margin-left: 1em;
}

@keyframes show {
   0% {
        transform: scale(0);
   }
   100% {
        transform: scale(1.0);
   }
}

@keyframes hide {
    0% {
        transform: scale(1.0);
    }
   100% {
        transform: scale(0);
    }
}

.loading {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100px;
    height: 40px;
    border-radius: 12px;
    background-color: var(--accent-color);
}

.circle-1, .circle-2, .circle-3 {
    height: 13px;
    width: 13px;
    background-color: var(--secondary-color);
    border-radius: 50%;
}

.circle-1 {
    animation: ball ease-in-out 1s;
    animation-iteration-count: 3;
}

.circle-2 {
    animation: ball ease-in-out 1s;
    animation-delay: 0.5s;
    animation-iteration-count: 3;
}

.circle-3 {
    animation: ball ease-in-out 1s;
    animation-delay: 1s;
}

@keyframes ball {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-6px);
    }
    100% {
        transform: translateY(0);
    }
}

.mt-48 {
    margin-top: 3em;
}

.app--icon {
    position: fixed;
    right: 5%;
    bottom: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    z-index: -1;
    animation: display ease-in-out 1s 1 forwards;
    clip-path: circle(35px at center);
    height: 72px;
    width: 72px;
}

.app-icon--image {
    width: 50%;
}

@keyframes display {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.email-form--container {
    width: 100%;
    height: 100vh;
    background-color: #F4F4F4;
    display: flex;
    justify-content: center;
    animation: display ease-in-out 0.3s 1 forwards;
}

.email-form--hide {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    max-width: 636px;
    width: 100%;
    opacity: 0;
    transition: 0.3s;
    position: relative;
}

.email-form--show {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 636px;
    width: 100%;
    border-radius: 10px;
    opacity: 1;
    transition: 0.3s;
    position: relative;
}

.email-form--heading {
    color: var(--primary-color);
    font-size: var(--h5-font-size-small);
    font-weight: 400;
    text-align: center;
    margin-bottom: 2em;
    margin-top: 3em;
    width: 289px;
}

.email-form--input {
    color: var(--accent-color);
    font-size: var(--paragraph-font-size);
    font-weight: 400;
    border-radius: 10px;
    padding: 0.75em;
    width: 283px;
    border: 2px solid var(--primary-color);
    background: var(--secondary-color);
    margin-bottom: 3em;
}

.email-form--input::placeholder, .email-form--textarea::placeholder {
    color: var(--accent-color);
    font-size: var(--paragraph-font-size);
    font-weight: 400;
}

input:focus, textarea:focus {
    outline: 0;
}

.email-form--textarea {
    color: var(--accent-color);
    font-size: var(--paragraph-font-size);
    font-weight: 400;
    border-radius: 10px;
    padding: 12px;
    width: 283px;
    height: 162px;
    border: 2px solid var(--primary-color);
    background: var(--secondary-color);
    margin-bottom: 3em;
    resize: none;
}

.email-form--button {
    border-radius: 10px;
    background: var(--primary-color);
    width: 283px;
    font-size: var(--h4-font-size-small);
    font-family: "Poppins-medium";
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-color);
    border: 0;
    margin-bottom: 2em;
}

.email-form--close-icon {
    align-self: flex-end;
    margin-top: 1.5em;
    margin-right: 1.5em;
    position: absolute;
    top: 0;
    right: 0;
}

.chat-page-container--hide {
    width: 100%;
    height: 100%;
    position: fixed;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(100%);
    background-color: var(--secondary-color);
}

.chat-page-container--show {
    width: 100%;
    height: 100%;
    position: fixed;
    transition: 0.5s;
    opacity: 1;
    transform: translateY(0%);
    background-color: var(--secondary-color);
}

.chat-form--container {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    display: flex;
    padding-bottom: 2.5em;
    padding-top: 3em;
}

.chat-form-container--admin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;width: 100%;
    background-color: var(--primary-color);
    border: 0;
}

.chat-form--input {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-left: 2px solid var(--primary-color);
    border-top: 2px solid var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    border-right: 0;
    background-color: var(--secondary-color);
    font-size: var(--h4-font-size-small);
    font-family: "Poppins-medium";
    font-weight: 500;
    color: var(--accent-color);
    padding-left: 1.5em;
    padding-top: 0.35em;
    padding-bottom: 0.35em;
    width: 60vw;
}

.chat-form--input::placeholder {
    font-size: var(--h4-font-size-small);
    font-family: "Poppins-medium";
    font-weight: 500;
    color: var(--accent-color);
}

.chat-form--input:placeholder-shown {
    text-overflow: ellipsis;
}

.chat-form--button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--secondary-color);
    border-top: 2px solid var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    border-right: 2px solid var(--primary-color);
    border-left: 0;
    border-top-right-radius: 10px;
    padding-right: 1.5em;
    border-bottom-right-radius: 10px;
}

@media screen and (max-width: 492px) {

    .chat-form--input {
        font-size: var(--h5-font-size-small);

    }
    
    .chat-form--input::placeholder {
        font-size: var(--h5-font-size-small);
    }
    
}

.chat-form--img {
    height: 60px;
    width: 60px;
}

.chat--container {
    margin-right: 32px;
    padding-top: 48px;
    padding-left: 2em;
    padding-right: 2em;
    overflow-y: scroll;
    height: 60vh;
}

.chat--container::-webkit-scrollbar {
    width: 16px;
}

.chat--container::-webkit-scrollbar-track {
    background: none;
}

.chat--container::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 12px;
}

.chat-message--left {
    display: grid;
    grid-template-columns: 60px minmax(auto, 30%);
    grid-template-rows: repeat(2, auto);
    justify-content: start;
    margin-bottom: 48px;
}

.chat-message--right {
    display: grid;
    grid-template-columns: minmax(auto, 30%) 60px;
    grid-template-rows: repeat(2, auto);
    justify-content: end;
    margin-bottom: 48px;
}

.chat-logo--left {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    border-radius: 50%;
    height: 60px;
    width: 60px;
    color: var(--secondary-color);
    font-size: var(--h4-font-size-small);
    font-weight: 500;
    font-family: "Poppins-medium";
    grid-column: 1;
    grid-row: 2;
}

@media screen and (max-width: 422px) {
    .chat-logo--left, .chat-logo--right {
        height: 52px;
        width: 52px;
    }
}

.chat-logo--right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    border-radius: 50%;
    height: 60px;
    width: 60px;
    color: var(--secondary-color);
    font-size: var(--h4-font-size-small);
    font-weight: 500;
    font-family: "Poppins-medium";
    grid-column: 2;
    grid-row: 2;
}

.chat-date--right {
    color: var(--accent-color);
    font-size: 12px;
    font-weight: 400;
    justify-self: start;
    grid-column: 1/3;
    grid-row: 1;
}

.chat-date--left {
    color: var(--accent-color);
    font-size: 12px;
    font-weight: 400;
    justify-self: end;
    grid-column: 1/3;
    grid-row: 1;
}

.chat-text--right {
    grid-column: 1;
    grid-row: 2;
    align-self: center;
}

.chat-text--left {
    grid-column: 2;
    grid-row: 2;
    align-self: center;
}

.chat-form-admin-tools--container {
    display: flex;
    justify-content: center;
    font-size: var(--h5-font-size-small);
    color: var(--secondary-color);
    font-weight: 400;
    margin-top: 1.5em;
}

.chat-form-admin-tool--delete {
    background: 0;
    font-size: var(--h5-font-size-small);
    color: var(--secondary-color);
    font-style: normal;
    font-weight: 400;
    border: 0;
    margin-right: 2.25em;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 548px) {
    .chat-form-admin-tools--container, .chat-form-admin-tool--delete {
        font-size: var(--h6-font-size);
        padding: 0 0.5em 0 0.5em;
    }

    .chat-form-admin-tool--delete {
        margin-right: 2em;
    }

    .chat-form-admin--delete-icon {
        display: none
    }
}

.chat-form-center--container {
    display: flex;
}

.dashboard--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dashboard-navbar--container {
    display: flex;
    background-color: var(--primary-color);
    width: 100%;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    justify-content: end;
}

.dashboard-navbar--log-out{
    color: var(--secondary-color);
    font-family: "Poppins-medium";
    font-size: var(--h4-font-size-small);
    font-weight: 500;
    margin-right: 2.25em;
}

.dashboard-navbar--email, .dashboard-navbar--spacer {
    display: none;
}

.dashboard-statistics--container {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    align-items: center;
    border-radius: 20px;
    margin-top: 12em;
    margin-bottom: 12em;
    padding: 2em;
    margin-left: 4em;
    margin-right: 4em;
}

.dashboard-statistics--heading {
    color: var(--secondary-color);
    font-family: "Poppins-bold";
    font-size: var(--h1-font-size-small);
    font-weight: 700;
    margin-bottom: 0.3em;
}

.dashboard-statistics--data {
    color: var(--secondary-color);
    font-family: "Poppins-medium";
    font-size: 1.95313rem;
    margin-bottom: 1em;
}

.dashboard-statistics--data:last-child {
    font-family: "Poppins";
    font-weight: normal;
}

.dashboard-conversations--container {
    margin-bottom: 9em;
    margin-left: 3em;
    margin-right: 3em;
}

.dashboard-conversation--container {
    display: flex;
    background-color: var(--primary-color);
    padding: 2em;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 4.5em;
}

.dashboard-conversation--text {
    display: none;
}

.dashboard-conversation--count {
    color: var(--secondary-color);
    font-size: var(--h3-font-size-small);
    font-family: "Poppins-medium";
    font-weight: 500;
    margin-right: 1.5em;
    display: flex;
}

.dashboard-conversation--date {
    color: var(--secondary-color);
    font-family: "Poppins-medium";
    font-size: var(--h4-font-size-small);
    font-weight: 500;
    margin-right: 1.5em;
}

.dashboard-conversation--online {
    color: var(--secondary-color);
    font-size: var(--h3-font-size-small);
    font-family: "Poppins-medium";
    font-weight: 500;
}

.dashboard-conversation-online--text {
    color: var(--secondary-color);
    font-family: "Poppins-medium";
    font-size: var(--h4-font-size-small);
    font-weight: 500;
}

.dashboard--no-conversation{
    color: var(--primary-color);
    font-size: var(--h4-font-size-small);
    padding: 4.5em 1em 4.5em 1em;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
}

.dashboard-footer--container {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.dashboard-footer--text {
    color: var(--secondary-color);
    font-family: "Poppins-italic";
    font-size: var(--h3-font-size-small);
    font-style: italic;
    font-weight: 400;
}

.log-in--center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.log-in--container {
    background-color: var(--secondary-color);
    box-shadow: -2px 3px 15px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 4em 4em;
    margin-right: 5em;
    margin-left: 5em;
    max-width: 500px;
    width: 100%;
    margin-right: 2em;
    margin-left: 2em;
}

.log-in--form {
    display: flex;
    flex-direction: column;
}

.log-in--heading {
    text-align: center;
    color: var(--primary-color);
    font-family: "Poppins-bold";
    font-size: var(--h1-font-size-small);
    font-weight: 700;
    margin-bottom: 0.8em;
}

.log-in--input {
    background-color: var(--secondary-color);
    border-radius: 10px;
    border: 2px solid var(--primary-color);
    padding: 1em;
    color: var(--accent-color);
    font-size: var(--paragraph-font-size);
    font-weight: 400;
}

.log-in--input::placeholder {
    color: var(--accent-color);
    font-size: var(--paragraph-font-size);
    font-style: normal;
    font-weight: 400;
}

.log-in--button {
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 4px 0;
    font-size: var(--h2-font-size);
    color: var(--secondary-color);
    margin-top: 1.5em;
    border: 0;
}

.log-in--input:first-child {
    margin-bottom: 2em;
}

@media screen and (max-width: 525px) {

    .log-in--container {
        padding: 2em 2em;
    }

    .dashboard-statistics--container, .dashboard-conversations--container {
        margin-right: 0;
        margin-left: 0;
    }
    
    .dashboard-statistics--data {
        font-size: 1.2rem;
    }

    .dashboard-statistics--heading {
        font-size: var(--h2-font-size-small);
    }

    .dashboard-conversation--container {
        padding: 1em;
    }

    .dashboard-conversation--count {
        font-size: var(--h4-font-size-small);
        margin-right: 0.5em;
    }

    .dashboard-conversation--date {
        margin-right: 0.5em;
        font-size: var(--h5-font-size-small);
    }

    .dashboard-conversation--online {
        font-size: var(--h4-font-size-small);
    }

    .dashboard-footer--text {
       font-size: var(--h4-font-size-small); 
    }

    .log-in--heading {
        font-size: var(--h2-font-size-small);
    }

    .log-in--button {
        font-size: var(--h4-font-size-small);
    }
}


@media screen and (min-width: 623px) {


    .email-form--input, .email-form--button, .email-form--textarea {
        width: 426px;
    }

    .email-form--heading {
        width: 289px;
        text-align: center;
    }

    .bot-conversations--container {
        margin: 0 2em 0 4em;
        padding-right: 4em;
    }

    .chat--container {
        padding-left: 4em;
        padding-right: 4em;
    }

    .email-form--container {
        padding-top: 4em;
        padding-bottom: 4em;
    }

    .dashboard-navbar--container {
        justify-content: none;
    }

    .dashboard-navbar--email {
        display: flex;
        color: var(--secondary-color);
        font-family: "Poppins-medium";
        font-size: var(--h4-font-size-small);
        font-weight: 500;
        margin-left: 2.25em;
    }

    .dashboard-navbar--spacer {
        display: flex;
        visibility: hidden;
        flex-grow: 1;    
    }
}

@media screen and (min-width: 1280px) {

    .bot-page-container--hide, .chat-page-container--hide {
        width: 550px;
        height: 80%;
        bottom: 4%;
        right: 5%;
        box-shadow: -2px 3px 15px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
    }
    
    .bot-page-container--show, .chat-page-container--show {
        width: 550px;
        height: 80%;
        bottom: 4%;
        right: 5%;
        box-shadow: -2px 3px 15px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
    }

    .navbar--title {
        font-size: var(--h5-font-size);
    }

    .bot-conversations--container {
        height: 80%;
        margin: 0 1em 0 1em;
        padding-right: 1em;
        padding-top: 2em;
    }

    .bot-conversations--container::-webkit-scrollbar {
        width: 10px;
    }

    .navbar--container {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .chat--container {
        height: 54%;
        margin-right: 1em;
        padding-top: 2em;
        padding-left: 1em;
        padding-right: 1em;
        overflow-y: scroll;
    }

    .chat-form--input, .chat-form--input::placeholder {
        font-size: var(--h4-font-size);
        width: 420px;
    }

    .chat-form-container--admin {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .email-form--input, .email-form--button, .email-form--textarea {
        width: 305px;
    }

    .email-form--container {
        width: 550px;
        height: 80%;
        bottom: 5%;
        right: 4%;
        position: fixed;
        box-shadow: -2px 3px 15px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
    }

    .email-form--show {
        max-width: 410px;
        width: 100%;
    }

    .email-form--hide {
        max-width: 410px;
        width: 100%;
    }

    .email-form--heading  {
        font-size: var(--h5-font-size);
    }

    .email-form--button {
        font-size: var(--h4-font-size);
    }

    .log-in--heading {
        font-size: var(--h1-font-size);
    }

    .log-in--button {
        font-size: var(--h2-font-size);
    }

    .dashboard-container--content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex: 1;
    }

    .dashboard-navbar--email, .dashboard-navbar--log-out {
        font-size: var(--h4-font-size);
    }

    .dashboard-footer--text {
        font-size: var(--h3-font-size);
    }

    .dashboard--container {
        display: flex;
        align-items: center;
        height: 100vh;
        justify-content: center;
    }

    .dashboard-statistics--heading {
        font-size: var(--h1-font-size);
        margin-top: 0.2em;
        margin-bottom: 0.3em;
    }

    .dashboard-statistics--data {
        font-size: 1.5rem;
        margin-bottom: 1.4em;
    }

    .dashboard-statistics--container {
        margin: 0;
        margin-right: 10em;
    }

    .dashboard-conversations--container {
        margin: 0;
    }

    .dashboard-conversation--container {
        margin: 0;
        margin-bottom: 3em;
        padding: 1.5em;
    }

    .dashboard-footer--container {
        padding: 1.6em;
    }

    .dashboard-conversation--count, .dashboard-conversation--date {
        margin-right: 1em;
    }
    
    
    .dashboard-conversation--online, .dashboard-conversation--count {
        font-size: var(--h3-font-size);
    }

    .dashboard-conversation--count {
        display: flex;
        align-items: center;
    }

    .dashboard-conversation--date {
        font-size: var(--h4-font-size);
    }

    .dashboard-conversation--text {
        display: flex;
    }

}
