* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100vh;
}

.app {
    border: 0;
    margin: 50px;
}